/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #F6F8F9;
}

/*HEADER*/
header {
  padding: 10px;
  margin-bottom: 40px;
  background-color: white;
}

header .logo-box img {
  vertical-align: middle;
  margin-bottom: 10px;
}

header .logo-box #title {
  font-size: 35px;
  font-weight: 800;
  color: #041931;
}

/*MAIN*/
main {
  width: 50%;
  margin: 0 auto;
}

main section.first {
  background-color: white;
  margin-bottom: 5px;
  border-radius: 5px;
}

main section.first div {
  display: inline-block;
  padding: 10px;
  margin: 8px 0px 5px 20px;
  border-radius: 5px;
}

main section.first .add-task{
  background-color: #47ADF1;
  border: 2px solid #47ADF1;
  color: white;
}
main section.first .add-section{
  border: 2px solid #CED3D7;
  color: #CED3D7;
  margin-bottom: 5px;
}

main section.second {
  background-color: white;
  padding-top: 30px;
  line-height: 30px;
  border-radius: 5px;
}

main section.second div {
  margin: 8px 2px 20px 20px;
  line-height: 40px;
  padding-bottom: 15px;
}

main section.second .new-task {
  display: inline-block;
}

main section.second .title-list {
  font-size: 30px;
  font-weight: 700;
}

main section.second .content {
  font-size: 20px;
}

main section.second li {
  list-style: none;
}

main section.second li .colored {
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  font-style: bold;
}

main section.second li .colored.editorial {
  background-color: #47ADF1;
}

main section.second li #goals {
  background-color: #9C72E4;
}

main section.second li #recruiting {
  background-color: #64C0A9;
}

main section.second li #mobile {
  background-color: #F29E33;
}

main section.second li #website {
  background-color: #D763A0;
}

main section.second li #sales {
  background-color: #B0C926;
}

main section.second li .check {
  color: green;
  border: 1px solid green;
  border-radius: 100%;
  padding: 3px 5px;
}

main section.second li .cross {
  color: red;
  border: 1px solid red;
  border-radius: 100%;
  padding: 3px 5px;
}